@use '../base/variables' as v;
@use '../base/mixins.scss' as m;

.transactionsContainer{
    @include m.telefono{
        
        width: 350px;
        justify-content: center;
        align-items: center;
        font-size: 0.75rem;
    }
    @include m.tablet{
       
    }
    @include m.desktop{
       
        display: inline-block;
        width: 600px;
        font-size: 1.2rem;
    }
   
    
}

li {
    list-style-type: none;
    position: relative;
    
    background-color: white;
    
    margin:0 0 10px 0;   
    border-radius: 0.1px;
    
    
}
    


.incomes{
    height: 40px;
   
  
}

.income{
    
    color: green;
}

.expense{
    color: red;
}

.deleteButton{
    @include m.telefono{
        background-color: red;
        border-color: red;
        color: white;
        border-radius: 5px;
        padding: 7px;
        &:hover{
            cursor: pointer;
            color: red;
            background-color: white;
        }
    }
    @include m.desktop{
        
        padding: 11px;
    }
   
    
   
   
  
}

.editButton{
    @include m.telefono{
        background-color: orange;
        border-color: orange;
        color: white;
        padding: 7px;
        border-radius: 5px;
        &:hover{
            cursor: pointer;
            filter: brightness(0.8);
        }
    }

   @include m.desktop{
    padding: 11px;
   
   
    
 
   }
 
}

.income li:nth-child(1) {
    background: #99c;
  }

.closeModal{
    
    background-color: red;
    border-color: red;
    color: white;
    margin: 0;
    border-radius: 5px;
    padding: 6px;
   
    &:hover{
        cursor: pointer;
        // filter: brightness(0.5);
        background-color: white;
        color: red;
    }
}


.buttonContainer{
 @include m.telefono{
    position: absolute;
    top: 2px;
    display: block;
    button ~ button {
        margin-left: 247px;
    }
 }
 @include m.desktop{
    
    button ~ button {
        margin-left: 480px;
    }
    top: -1px;
 }
    @include m.desktopxxl{
        button ~ button {
            margin-left: 480px;
        }

        
        
       
        
        
    }
  

}

.category{
    color: brown;
}